@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
}

@custom-variant data-selected (&[data-selected="true"]);
@custom-variant data-active (&[data-active="true"]);

* {
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

li {
  list-style: none;
}
