@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
}

* {
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

li {
  list-style: none;
}
